In [1]:
lista_del_1_al_100 = list(range(1,101))

In [ ]:
meses = ("Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic")

In [ ]:
num = 3.5

print("Es int")

In [4]:
in_program = True
meses = ("Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic")

try:
    while in_program:
        mes_num = input("Introduce un valor de mes (1-12)(0 para salir):")
        mes_num = int(mes_num)
        if mes_num == 0:
            in_program = False
            print("Saliendo...")
        elif mes_num > 12:
            print("El valor a introducir debe estar por debajo de 13")
        else:
            print("El mes que seleccionaste es: ",meses[mes_num-1])
    
except:
    print("El n√∫mero a introducir debe ser entero oiga!")

Introduce un valor de mes (1-12)(0 para salir):0
Saliendo...

In [6]:
frase = 'HackerRank.com presents "Pythonist 2"'

In [24]:
FRASE = []

for letra in frase:
    if letra.isupper():
        FRASE.append(letra.lower())
    elif letra.islower():
        FRASE.append(letra.upper())
    else:
        FRASE.append(letra)

"".join(FRASE)

'hACKERrANK.COM PRESENTS "pYTHONIST 2"'

In [27]:
def swap_case(s):
    if len(s)<=1000:
        return s.swapcase()

In [29]:

stdin = "OzD0ro.7xwq A.MqhqT7'evgaVjpQ36OjSwfhuMaME'SDlyjPttjr6knZURciDARzAZ.3hQeIvX'IPe875zS3su6dajlMnbQOiH37U3YG0uzy6vW4v.onodBDDREYOf3CqeHfGcCeWV0dXrmTWAUsuw'jVwFO'5n.jvKLwXaDsam'y5sVQqB5O16bn1ug1XFeg3kmOGQFjxQ524k Z0yv76b4kkaC YuW9cw8Sfjf4 ynhe N88N3N2pfJF.I4ec5PgTp0Mp6VKawzg7GctsbPmU73aERqHxvWOMxDGZI9XWnJV6Aumecv0bHopAmfeD1K vTcxkzmdypHOGcdELdXjINde.ICPhEnpr9nJVL M7uY'L0BDX0i7CNCjIt9OiE2xjXt7JkK7vdUFlp6qn3Zua5vfP'nJcbviLrwj3.VlDDkd4VQ6zV1G2sGMmTVYkzaR9z5CDujAl'zYw8jw 9VOb5dP'zT'UTLMX2u8OG5YrGrvcENXF'QhBC8Ti'KRuhuO'SLlDKuRPHxFtnXW27YY1BMN9YkQww9kloEb43'loYiSFpIPiA0f1.3RYNUEN4QSbNQMpwQPZXsVKhc.uGvGJHiU80gcvOufOI2A0LdPcwGBWjTDl4TBZaycMfCmOceYqPj gqV7wTfSkY1F4INWqlKez.Vzbf84htDJg6D4MUt 2cGy8gMQolE 3gLR.rh3s5nbzN8hqKJr4c0L48zm2Hm7ObgsDu8dlrHnDaVKLQ65a7oTyz D6MLYD.q2AQXnQHKuTxKu5Fq7iNIRZKYyYeZo8n8JwHXtDbOaEnu'4'vmAsf2XR2q0ozLdw2FVsVpKEm4KzigoxY2GOpZq3OYW8cboQoD7STPJ8B'yEGZgk0vT mBABj0xeckqn6'Ouo99aTq'LKILUYjJ3DrduZj6Gq25kHUhfskez4LjZ21jduxXVXa8EmBNQeMf1A4R1v3fqGl W4Aw2UZ0t62TM fDGTqWgfvTb1RP7wyJ"

In [30]:
len(stdin)

1000

In [31]:
print(''.join([i.lower() if i.isupper() else i.upper() for i in raw_input()]))

NameError: name 'raw_input' is not defined

In [32]:
import numpy as np

In [34]:
sol = np.eye(4,3,k=0)

In [48]:
stdin = "12 13"

In [49]:
stdin

'12 13'

In [51]:
stdin.find(" ")

stdin[0:stdin.find(" ")]

'12'

In [55]:
stdin[stdin.find(" ")+1:]

'13'

In [80]:
n,m = input().split()
np.eye(int(n),int(m),k=0)

5 5

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [77]:
n,m = input().split()

9 8

In [79]:
m

'8'

In [68]:
print(str(np.eye(*map(int,input().split()))).replace('1',' 1').replace('0',' 0'))

3 4

TypeError: 'str' object is not callable

In [106]:
N, M = input().split()
A = np.array([input().split() for _ in range(int(N))], int)
print(np.prod(np.sum(A, axis=0), axis=0))

4 7
1 2
3 4
5 6
7 8
320

In [105]:
A.dtype

dtype('int32')